.App {
  text-align: center;
  max-width: 100%;
}

.navbar-brand {
  text-emphasis-color: white;
}

/* this is what fixed the image stretching problem */
.background {
  object-fit: cover;
}
/* 
.navbar {
  position: sticky;
} */