.cover {
    max-width: 100%;
    object-fit: cover;
    background-color: firebrick;
    display: flex;
    height: auto;
    justify-content: center;
    
}





.top {
    display: flex;
    height: 40%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.top > h1 {
    font-variant: Tahoma;
    color: firebrick;
    font-variant: small-caps;
}

.bottom {
    height: 60%;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}
