* {
    margin: 0;
    padding: 0;
}

.quote {
    /* width: max-content; */
    /* position: relative; */
    /* left: 50%; */
    /* top: 40%; */
    border:2px solid #aaaaaa;
    margin: 0;
}

.quote-box {
    height: 300px;
    border:2px solid #f00;
    display: flex;
    flex-wrap: wrap;

    /* centers text in div */
    text-align: center;
    /* centers div in div horizontal */
    justify-content: center;
    /* centers div in div vertical */
    align-items: center;
}