.top {
    display: flex;
    height: 40%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.top > h1 {
    font-variant: Tahoma;
    color: firebrick;
    font-variant: small-caps;
}

.bottom {
    height: 60%;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    border-radius: 50%;
}

.background {
    background-color: firebrick;
    display: flex;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    height: 400px;
}